/GRASP/Polymorphisme/target/
/GoF/Singleton/nbproject/private/
/GoF/Singleton/target/
/GoF/AbstractFactory/target/
/GoF/Strategy/target/
/GoF/Observer/target/
/GoF/Memento/target/
/GoF/Command/target/
/GoF/ChainOfResponsibility/target/
/GoF/Builder/target/
/GoF/State/target/
/GoF/Decorator/target/
/GoF/Adapter/target/
/GoF/Bridge/target/
/GoF/Prototype/target/
/GoF/Composite/target/
/GoF/Iterator/target/
/Couches/target/
/GRASP/Controleur/target/
/GoF/Facade/target/
/GoF/FactoryMethod/target/
/GoF/Proxy/target/
*.swp
.DS_Store
/FileTransferExample/FileTransferServer/dist/
/FileTransferExample/FileTransferServer/build/
/FileTransferExample/FileTransferServer/nbproject/private/private.xml
/FileTransferExample/FileTransferClient/dist/
/FileTransferExample/FileTransferClient/build/
/FileTransferExample/FileTransferClient/nbproject/private/private.xml
/XmlRpcExample/XmlRpcClient/target/
/XmlRpcExample/XmlRpcServer/target/
